@model SistemaCardapioFinal.Models.Desperdicio

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Desperdicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdAlimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdAlimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdDesperdicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdDesperdicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentagemDesperdicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentagemDesperdicio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DesperdicioId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
