@model SistemaCardapioFinal.Models.Desperdicio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Desperdicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVeiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeVeiculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdAlimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdAlimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdDesperdicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdDesperdicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PorcentagemDesperdicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PorcentagemDesperdicio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DesperdicioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
