@model IEnumerable<SistemaCardapioFinal.Models.Desperdicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeVeiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdAlimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QtdDesperdicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentagemDesperdicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeVeiculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdAlimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtdDesperdicio)
            </td>
            <td class="porcentagem">
                @Html.DisplayFor(modelItem => item.PorcentagemDesperdicio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DesperdicioId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.DesperdicioId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.DesperdicioId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
