@model SistemaCardapioFinal.Models.Cardapio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cardapio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardapioNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardapioNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Base)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Base.DescricaoBase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acompanhamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acompanhamento.DescricaoAcompanhamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salada.DescricaoSalada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bebida.DescricaoBebida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sobremesa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sobremesa.DescricaoSobremesa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CardapioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
