@model SistemaCardapioFinal.Models.Prato

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoPrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoPrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoBebida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoBebida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoVegetariana)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoVegetariana)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PratoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
